<form method="post">
    {% csrf_token %}
    <div id="frmModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ titulo }}</h3>
        </div>
        <div class="modal-body">
            <table class="form" >
                {{ form }}
            </table>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Salvar"/>
            <input type="reset" class="btn" value="Limpar"/>
            <a href="#" class="btn" data-dismiss="modal">Fechar</a>
        </div>
    </div>
</form>