{% include "header.html" %}
<!-- ####################################################################################################### -->
<div class="hero-unit">
	<h1>Seja bem-vindo!</h1>
	<p>Este é o Sistema da Pós-Graduação que foi desenvolvido pelos professores do curso de Engenharia da Computação da UEMA.</p>
	<p><a href="#" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>
<!-- ####################################################################################################### -->
{% include "footer.html" %}