{% extends "base.html" %}

{% block titulo %}Lista de Cursos{% endblock %}

{% block conteudo %}
<link href="{{ MEDIA_URL }}styles/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

<style type="text/css" title="currentStyle">
    @import "{{ MEDIA_URL }}datatables/css/demo_page.css";
    @import "{{ MEDIA_URL }}datatables/css/demo_table.css";
    @import "{{ MEDIA_URL }}datatables/css/jquery.dataTables.css";
</style>

<div id="content">
    <p>
        <a href="#frmModal" class="btn btn-primary" data-toggle="modal">
            <i class="icon-plus icon-white"></i> Incluir
        </a>
    </p>
    <hr/>
    <div id="dynamic">
        <table id="tblDados" class="display" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="45%">Nome</th>
                    <th width="15%">Nivel</th>
                    <th width="15%">Tipo</th>
                    <th width="10%">CH</th>
                    <th width="15%">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.nivel }}</td>
                    <td>{{ curso.tipo }}</td>
                    <td>{{ curso.ch }}</td>
                    <td>
                        <a href="/academico/cursos/{{curso.id}}/" class="btn btn-success btn-small">
                            <i class="icon-folder-open icon-white"></i>
                        </a>
                        <a href="/academico/cursos/{{curso.id}}/editar/" class="btn btn-warning btn-small">
                            <i class="icon-edit icon-white"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Nome</th>
                    <th>Nivel</th>
                    <th>Tipo</th>
                    <th>CH</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
        </table>
    </div>

    {% include "cadastros.html" %}
</div>
{% endblock %}
