{% extends "base.html" %}

{% block titulo %}Detalhes do Curso - {{curso.nome}}{% endblock %}

{% block conteudo %}

<ul class="nav nav-tabs">
	<li class="active"><a href="/academico/cursos/{{curso.id}}/">Geral</a></li>
	<li><a href="/academico/cursos/{{curso.id}}/areas/">Áreas</a></li>
	<li><a href="/academico/cursos/{{curso.id}}/disciplinas/">Disciplinas</a></li>
	<li><a href="/academico/cursos/{{curso.id}}/curriculos/">Curriculos</a></li>
	<li><a href="#">Períodos Letivos</a></li>
</ul>

<div class="hero-unit">
	<strong>Nome:</strong> {{ curso.nome }}<br/>
	<strong>Nível:</strong> {{ curso.nivel }}<br/>
	<strong>Tipo:</strong> {{ curso.tipo }}<br/>
	<strong>CH:</strong> {{ curso.ch }}<br/>
	<strong>Data de Início:</strong> {{ curso.dt_inicio }} - 
	<strong>Data de Fim:</strong> {{ curso.dt_fim }}
	<p><a href="#" class="btn btn-primary">Dashboard &raquo;</a></p>
</div>

{% endblock %}
