{% extends "base.html" %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block conteudo %}
	<link href="{{ MEDIA_URL }}styles/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
	<div id="respond">
		<form method="post">
			{% csrf_token %}
			<table class="form" >
				{{ form }}
				<tr>
					<th>&nbsp;</th>
					<td>
						<input type="submit" class="btn btn-primary" value="Salvar"/>
						<input type="reset" class="btn" value="Limpar"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}