          </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Universidade Estadual do Maranhão 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Javascript no final da pagina
    ================================================== -->
    <!-- Para que as paginas carreguem mais rápido -->

    <!-- Elementos JQuery -->
    <script src="{{ MEDIA_URL }}scripts/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}scripts/jquery.tabs.setup.js"></script>
    <script src="{{ MEDIA_URL }}scripts/jquery-ui.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}scripts/jquery.ui.datepicker-pt-BR.js"></script>
    <script src="{{ MEDIA_URL }}scripts/angular-strap.min.js"></script>

    <!-- Elementos Bootstrap -->
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
    <!--
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
    -->

    <!-- Elementos Datatables -->
    <script src="{{ MEDIA_URL }}datatables/js/jquery.dataTables.min.js"></script>

    <script >
      $(function() {
        $( ".datePicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: -36500,
          showOn: "button",
          buttonImage: "{{ MEDIA_URL }}images/calendar.gif",
          buttonImageOnly: true
        });
      });

      $(document).ready(function() {
        $('#tblDados').dataTable({
          "bProcessing": true,
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": true,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });

      $(function() {
        // Setup drop down menu
        $('.dropdown-toggle').dropdown();
       
        // Fix input element click problem
        $('.dropdown input, .dropdown label').click(function(e) {
          e.stopPropagation();
        });
      });

      if({{ver_form}}){
        $('#frmModal').modal('show');
      }
    </script>
  </body>
</html>
